/node_modules/
/build/
/.nyc_output/
/coverage/

/README.md
/cSpell.json
/package-lock.json
/package.json
tsconfig.json

*.cc
*.hh
*.d.ts

/binding.gyp

.editorconfig
.eslintrc.yml

.gitignore
.prettierignore
.eslintignore
