/node_modules/
/build/
/.nyc_output/
/coverage/
*.log

/README.md
/cSpell.json
/package-lock.json
/package.json
tsconfig.json

*.cc
*.hh
*.d.ts

*.yml
*.txt
*.jso

/binding.gyp

.editorconfig
.eslintrc.yml
.clang-format
.clang-tidy
.prettierrc

.gitignore
.prettierignore
.eslintignore
